/* Los estilos de tu proyecto */

/*Header*/
body {
    height: 100%;
}

.navbar{
    background-color: white;
}
.taxi{

    background-image: url("../assets/images/taxi.jpg");
    /*height: 100%;*/
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
   }
   
.flex-container {
    background: rgb(255,193,7);
    height: 17rem;
    width: 22rem;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center
 }


