/* Los estilos de tu proyecto */

.logo{
    top: 3rem;
    position: relative;
    
}

.menu-list{
    left: 90rem;
    position: relative;
    
}

li{
    padding: 1rem;
    bottom: 1rem;
}
.navwhite{
    background-color: white;
}